.header-st{
    background-image: url('Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 698px;
    margin-bottom: 150px;
}
.logo{
    width: 1140px;
    height: 154px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 158px;
}
.textt{
    font-size: 65px;
    margin-bottom: 37px;
    font-weight: regular;
}
.bt-style{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    cursor: pointer;

}
.loggo{
    font-size: 36px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4E47FF;
}

.focus{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 200px;
}
.action{
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.action{
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
   
}
.support-text{
     width: 517px;
    height: 203px;
}

.support-text p{
    font-size: 24px;
    
}

.imagee{
    border: none;
    border-radius: 20px;
}

.color{
    color: #4E47FF;
}
body{
    background-color: #F5F7FF;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.reviewer-image{
    width: 40px;
    height: 40px;
    border-radius:50%;
}
.card{
    padding-left: 20px;
    /* box-shadow: 10px 10px black; */
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}
.section-area{
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.section-area h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 42px;
}
.card-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.workflow{
   
    background-color: white;
    text-align: center;
    padding: 71px 150px;
    display: block;

}
.workflow img{
    display: block;
    text-align: center;
    /* padding-top: 20px; */
    margin-top: 20px;
    width: 840px;
    height: 365px;
    /* justify-content: center; */
    border-radius: 50px;
    /* padding-left: 150px; */
}
.bt-style:hover{
    background-color: yellow;
    color: black;
}

.workflow-section{
     width: 1140px;
    height: 697px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.workflow-text h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.workflow-text p{
    margin-bottom: 20px;
    color: #B3B3B3;
    font-weight: 500;
}
.touch{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 632px;
    margin: 0 auto;
}
.touch-text{
    align-items: center;
    font-size: 65px;
    width: 528px;
    height: 232px;
}
.touch-form {
    width: 497px;
    height: 490px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.bt-width{
    width: 100%;
    height: 70px;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bt-width:hover{
    background-color: yellow;
    color: black;
}



.footer-section{
    width:100%;
    height: 430px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.center-div{
    width: 530px;
    height: 230px;
}


.footer-list li {
    
    display: inline-block;
    margin: 0 15px;
    list-style: none;
    
}


.footer-list li a{
    text-decoration: none;
    color: black;

    
}

.center-div strong{
    font-size: 100px;
    color: #4E47FF;
    font-weight: 700;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;

}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.racing-sans {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 /*.new{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

.userr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color:#EEF0FF;
    border-radius: 20px;
    margin-bottom: 100px;
    border: 1px solid black;
}
.productive-user{
    width: 856px;
    height: 206px ;

}
   

.sections{
    display: flex;
    justify-content: space-between;
    gap: 158px;
}
.users{
    text-align: center;
     padding-top: 20px; 
}



.userr{
    display: flex;
    justify-content: center;
    align-items: center;
     padding-top: 50px;
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color:#EEF0FF;
    border-radius: 20px;
    margin-bottom: 100px;
    border: 1px solid black;
}
.productive-user{
    width: 856px;
    height: 206px ;

}
   

.sections{
    display: flex;
    justify-content: space-between;
    gap: 158px;
}
.users{
    text-align: center;
    /* padding-top: 20px; 
}
.users h1{
    font-size: 38px;
    font-weight: bold;
}*/

.productive-user{
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: #EEF0FF;
    display: flex;
    border-radius: 20px;
 
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */

}
.users{
    width: 856px;
    height: 206px;
}
.rates{
    display: flex;
    justify-content: space-between;
}
.productive-user h3{
    /* display: block; */
    text-align: center;
    font-size:38px ;
    margin-bottom: 40px;


}

.bold{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
}
.center{
    text-align: center;
    color: #000000;
}
.reviewer-date span{
    display: block;
}
.r-name{
    color: #757575;
    font-size:20px;

}
.r-date{
    margin-top: 5px;
    /* margin-bottom: 20px; */
    color: #B3B3B3;
    
}

.touch-form input[type='text'], .touch-form input[type='email']{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: none;
    color:#B3B3B3;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    
}

textarea{
    width: 497px;
    height: 135px;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.touch-form label{
    color: black;
    font-weight: bold;

}